

$site-header-shadow: 0 -3px 3px rgba(#333, .4);
$site-footer-shadow: 0 3px 3px rgba(#333, .4);
$site-nav-items: 4;
$site-search-bar-height: 50px;

$promo-grid-size: 200px;
$promo-grid-size-spacing: 10px;
