.admin-table {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.admin-table th {
  padding: 10px;
  background: $color-primary;
  color: white;
}

.admin-table tbody tr {

  &:nth-of-type(2n) {
    background: #eee;
  }
}

.admin-table tbody td {
  padding: 5px 0;
}

.admin-table tbody img {
  max-width: 100px;
}

.admin-table-edit {
  svg {
    width: 18px;
    height: 18px;
    fill: $color-accent;
    transition: all .4s;
  }

  &:hover svg {
    fill: $color-accent-dark;
  }
}
