.admin-table {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.admin-table th {
  padding: 10px;
  background: $color-primary;
  color: white;
}

.admin-table tbody tr {

  &:nth-of-type(2n) {
    background: #eee;
  }
}

.admin-table tbody td {
  padding: 5px 0;
}

.admin-table tbody img {
  max-width: 100px;
}

.admin-table-edit {
  svg {
    width: 18px;
    height: 18px;
    fill: $color-primary;
    transition: all .4s;
  }

  &:hover svg {
    fill: $color-primary-dark;
  }
}

.admin-table-delete {
  svg {
    width: 18px;
    height: 18px;
    fill: $color-accent;
    transition: all .4s;
  }

  &:hover svg {
    fill: $color-accent-dark;
  }
}

.admin-special-add-product {
  &.error {
    border: thin solid red;

    &:after {
      content: "You have selected this product multiple times.";
      flex: 2 1 100%;
      text-align: center;
    }
  }
}

.admin-index h1{
  color: $color-primary;
  margin: 1em 0;
  font-family: $font-family-heading;
  text-align: center;
}

.admin-panel-page {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.admin-panel-box {
  flex: 1 1;
  margin: .2em;
  text-align: center;
  border: 2px solid $color-primary;
  border-radius: 2px;
}

.admin-panel-box a {
  display: block;
  padding: 1em;
  color: inherit;
  text-decoration: none;
  transition: all .4s;

  &:hover {
    background: $color-primary;
    color: white;
  }
}

.admin-panel-box-add {
  border-top: 2px solid $color-primary;
}

.admin-panel-box-add .icon-plus {
  width: 16px;
  height: 16px;
}
