.popup-register-title {
  font-family: $font-family-heading;
  text-align: center;
}

.form-register {
  display: flex;
  flex-direction: column;
}

.form-register input:not(.form-button) {
  margin-bottom: 1em;
  padding: 10px;
  border: thin solid rgba($color-primary, .15);
  outline: none;
  transition: all .4s;

  &:hover {
    border-color: rgba($color-primary, .5);
  }

  &:focus {
    border-color: rgba($color-primary, .8);
  }
}
