.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 (20px + $site-search-bar-height);
  background: url('../img/street-market-3285.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset $site-header-shadow;

  // This is used to counter the flex positioning by .site-account
  // It has to have somewhat the same declarations as .site-account so the size counters can be balanced
  &:before {
    content: "";
    flex: 1 1;
    padding: 0 50px;
  }
}

.site-header-buttons {
  position: relative;
}

.site-header-buttons a {
  color: inherit;
}

.menu-button-popup {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 120px;
  margin: 0;
  margin-top: .5em;
  padding: .1em 0;
  opacity: 0;
  background: white;
  color: black;
  list-style-type: none;
  box-shadow: 0 2px 1px rgba(black, .2);
  transform: scale(0) translateZ(0);
  transform-origin: 90% 0;
  transition: all .4s;

  &.is-shown {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-right: 1em;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 7.5px solid white;
  }
}

.menu-button-popup li {
  display: inline-block;
  width: 100%;
}

.menu-button-popup li a {
  display: block;
  text-align: left;
  padding: .5em;
  margin: .1em 0;
  border-top: thin solid #eee;
  text-decoration: none;
  transition: all .4s;

  &:only-child {
    border-top: none;
  }

  &:hover {
    background: #ddd;
    border-color: #ddd;
  }
}
