.homepage-dash {
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;

  @include mq(sm) {
    width: 60%;
  }
}

.promo-item {
  display: flex;
  position: relative;
  background: none !important;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 5px solid #ccc;
    opacity: .5;
  }

  > a {
    width: 100%;
    height: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    width: 100%;
    height: 100%;
  }

  &:hover .promo-item-details {
    opacity: 1;
  }
}

.promo-item-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: .5em;
  color: white;
  text-align: center;
  background: rgba(black, .6);
  opacity: 0;
  transition: all .4s;
}

.promo-item-details-name-container {
  flex: 2 1 100%;
}

.promo-item-details-add {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-item-details-add-input {
  color: #333;
}

.promo-note {
  text-align: center;
  font-size: 1.2em;
}
