.promo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

.promo-grid-item {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  width: $promo-grid-size;
  height: ($promo-grid-size + $promo-grid-size-spacing) * 2;
  margin: $promo-grid-size-spacing;
}

.promo-grid-item--big {
  width: ($promo-grid-size + $promo-grid-size-spacing) * 2;
  background: #ccc;
}

.promo-grid-item--normal {
  background: transparent;
}

.promo-grid-item--normal > div {
  width: 100%;
  height: $promo-grid-size;
  flex-shrink: 0;
  background: #ccc;
}

.promo-grid-item--small {

}

.promo-grid-item--small > div {
  width: 100%;
  height: $promo-grid-size / 2 - $promo-grid-size-spacing;
  flex-shrink: 0;
  background: #ccc;
}
