.product-category-item {
  background: #ddd;
  border: thin solid #d2d2d2;
  transition: all .4s;

  &:hover {
    background: #ccc;
    border-color: #c2c2c2;
  }
}

.product-category-item-link {
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}

.product-category-item-image {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
}

.product-category-item-details {
  display: flex;
  height: auto !important;
  margin: 0 !important;
  padding: 10px;
  background: none !important;
}

.product-category-item-name {
  flex: 1 1;
}

.product-category-item-add {
  flex: 0 1 48px;
  padding: 8px;
}

.product-category-item-add svg {
  width: 24px;
  height: 24px;
  fill: #555;
  transition: all .4s;

  &:hover {
    fill: #333;
  }
}
