.search header {
  text-align: center;
}

.search-item {
  background: #ccc;
  transition: all .4s;
    box-shadow: 0 2px 2px rgba(black, 0);

  &:hover {
    box-shadow: 0 2px 2px rgba(black, .4);
  }
}

.search-item a {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.search-result-pagination {
  text-align: center;
}

.search-result-next,
.search-result-previous {
  display: inline-block;
  padding: 10px 15px;
  border: thin solid $color-primary;
  border-radius: 2px;
  color: $color-brown;
  text-decoration: none;
  transition: all .4s;

  &:hover {
    background: $color-primary;
    color: white;
  }
}

.search-result-next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-result-previous {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
