.specials {

}

.specials header {
  margin: 0 auto;
  padding: 20px 10px;
  text-align: center;

  @include mq(sm) {
    width: 80%;
  }
}

.specials-title {
  font-family: $font-family-heading;
  font-size: 3em;
}

.specials-desc {
  font-size: 1.2em;
}
