*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: $site-background;
  font-family: $font-family-sans-serif;
}

[class^="icon-"], [class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor;
}

.button-icon {
  background: none;
  border: none;
}

.container {
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;

  @include mq(sm) {
    width: 60%;
  }
}
