input {
  padding: 5px 15px;
  outline-color: $color-primary;
}

.form-input-block {
  display: block;
  width: 100%;
}

.form-input-halfblock-container,
.form-input-thirdblock-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.form-input-halfblock {
  flex: 1 1;
  max-width: 48.75%;
}

.form-input-thirdblock {
  flex: 1 1;
  max-width: 32.5%;
}

.form-button {
  background: transparent;
  border: 2px solid $color-primary;
  border-radius: 3px;
  color: $color-primary;
  transition: all .4s;

  &:hover {
    background: $color-primary;
    color: white;
  }

  &:active {
    background: $color-primary-dark;
    color: white;
  }
}

.form-button.form-input-block {
  padding: 15px 10px;
}

.form-button.form-input-block.form-input-block--small {
  padding: 5px 10px;
}
